## This file must NOT be checked into Version Control Systems.
## It was created by Android Studio and should be placed in your home directory.
##
## IMPORTANT: Replace the path below with your actual Android SDK location
## Windows:  sdk.dir=C\:\\Users\\YourName\\AppData\\Local\\Android\\Sdk
## macOS:    sdk.dir=/Users/YourName/Library/Android/sdk
## Linux:    sdk.dir=/home/YourName/Android/Sdk

sdk.dir=/path/to/your/android/sdk
